@use "./gameboard";

//colors
$primary: #0000ff;
$grey: #050a30;
$light: #e7d27c;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  font-family: sans-serif;
  background-color: $grey;
  color: $light;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 10vh;
}
.logo {
  font-size: 2rem;
  text-align: center;
}
footer {
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font-size: 0.7rem;
    text-align: center;
  }
}
